* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: 'Poppins', sans-serif;
    height: 100%;
    width: 100%;
}

.top-banner {
    background: url('images/donation5.jpg') no-repeat center center;
    background-size: cover;
    height: 100%;
    width: 100%;
    text-align: center;
    color: #fff;
}

.gradient {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(360deg, black, transparent);
}

.top-banner h1 {
    font-size: 60px;
}

.link-btn {
    background-color: tomato;
    text-align: center;
    text-decoration: none;
    padding: 10px 12px;
    color: white;
    display: inline-block;
    margin-top: 12px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
}

.donate-today {
    margin: 120px auto;
    text-align: center;
    min-height: 500px;
}

.donate-today ul {
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 20px;
}

.donate-today ul li {
    background-color: rgb(236, 230, 230);
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
    padding: 10px;
    margin: 10px;
    color: grey;
}

.donate-today ul li#active {
    background-color: rgb(247, 212, 217);
    color: tomato;
    border: 2px solid tomato;
}

.donate-today h1 {
    font-size: 45px;
}

.donate-today p {
    color: grey;
    margin: 20px 0;
}

.donate-today form {
    width: 700px;
    margin: 0 auto;
}

.donate-today input[type=number] {
    border: none;
    border-bottom: 1px solid lightgrey;
    width: 100%;
    margin: 0 auto;
    display: block;
    font-size: 16px;
    text-align: center;
    padding: 6px;
}

.donate-today input[type=submit] {
    padding: 15px 20px;
    font-size: 18px;
}